In [81]:
import os
import json
import pandas as pd
from pandas.io.json import json_normalize

paragraph_txt_list = []
essay_type_list = []
student_grade_list = []
paragraph_scoreT_avg_list = []

#"paragraph_txt", "essay_type", "student_grade"
path = './라벨링데이터'
category_list = os.listdir(path)
for category in category_list :
    if category == ".DS_Store" : continue
    category_path = path + "/" + category
    for file_dir in os.listdir(category_path) :
        with open(category_path + "/" +file_dir, 'r') as outfile:
            json_data = json.load(outfile)
            paragraph_scoreT_avg_list.append(json_data['score']['paragraph_score'][0]['paragraph_scoreT_avg'])
            paragraph_txt_list.append(json_data['paragraph'][0]['paragraph_txt'])
            essay_type_list.append(file_dir.split("_")[0])
            student_grade_list.append(file_dir.split("_")[1]+"_"+file_dir.split("_")[2])

In [82]:
df = pd.DataFrame({"paragraph_txt" : paragraph_txt_list, "essay_type" : essay_type_list, "student_grade" : student_grade_list, "paragraph_scoreT_avg" : paragraph_scoreT_avg_list})

In [123]:
def replace_uni(text): 
    return text.replace("\u3000"," ").replace("\u200b","").replace("\ufeff","").replace("\u2009","").replace("‘","").replace("’","").replace("<span>", "").replace("</span>", "").replace("#@문장구분#", "").replace("&nbsp;", " ").replace("\u2019","").replace("&lt;","").replace("&gt;","").replace("amp;","")

df['paragraph_txt'] = df['paragraph_txt'].apply(replace_uni)

In [124]:
df

,paragraph_txt,essay_type,student_grade,paragraph_scoreT_avg
0,나는 다수결을 반대한대 왜냐하면 이거를 싫어하는사람도분명히 있을텐데 다 수결로만해서...,찬성반대,초등_5학년,2.142857
1,교육을 받기를 원하는 사람이 있으면 딱히 받고 싶지 않은 사람이 있을 지도 모른다....,찬성반대,중등_1학년,3.000000
2,남한과 북한의 통일은 너무너무 복잡한 일이라고 생각합니다. 우리는 북한과 오랜시간 ...,찬성반대,초등_4학년,3.000000
3,요즘 환경문제에 대한 뉴스를 쉽게 접할 수 있습니다. 최근에는 미국 캘리포니에에서 ...,찬성반대,초등_6학년,3.000000
4,나는남북 통일에찬성 합니다. 왜냐하면 전쟁을하다가 죽은사람이 얼마나 만은데 그래서저...,찬성반대,초등_4학년,1.619048
...,...,...,...,...
5995,내가 최근에 봤던 영화는 블랙 위도우라는 마블 영화이다. 나는 원래 마블의 영화를 ...,설명글,고등_1학년,2.111111
5996,제가 다녔던 유치원은 초등학교 부설 유치원이어서 초등학교에 입학하지 않았어도 방과후...,설명글,고등_3학년,3.000000
5997,나는 옛날부터 it관련된 직업에 관심이 많이 있었었다. 그래서 it관련 회사인 마이...,설명글,고등_1학년,2.500000
5998,저의 꿈은 초등학교 선생님입니다. 스승이라는 단어를 생각하면 대다수가 제일 먼저 떠...,설명글,중등_1학년,2.666667
5999,몇 시간만에 이 소설을 딱 읽고 나서는 참 비참하다고 생각하였다. 얼마나 비참한가 ...,설명글,고등_1학년,2.666667

In [125]:
df.to_csv("./df_origin.csv", index = False)

In [115]:
df["paragraph_txt"][5555]

'인터넷 동영상에서 부시크래프트나 무인도에서 혼자 살아남기 등 서바이벌한 내용들을 자주 접하게 됩니다. 아무것도 없는 오지에서 혼자 비를 맞으며 나뭇잎으로 집도 만들거나 한사람이 겨우 들어갈만한 작은 텐트 하나에 의지해 불을 피워 밥을 해먹는다던지, 불빛 하나 없는 해변에서 하늘의 별을 보는 그런 멋진 모습들이 나의 마음을 설레게 하였습니다. 새로운 것들에 대한 나의 호기심과 그런 것들을 두려워하지 않는 마음, 경험하고 탐험하고자 하는 마음이 나를 부추깁니다. 그러다가 윤승철 무인도 탐험가에 대한 인터뷰를 보게 되었습니다. 무인도 탐험가 윤승철 님은 말씀하십니다. 탐험가가 되는 데는 특별한 자격, 조건도 없습니다. 새로운 것에 대한 관심과 호기심, 탐험을 통해 보고 경험한 것들을 기록하고 정리할수 있는 능력이 있다면 탐험가가 될 수 있다고 말하십니다. 언제나 미지의 장소로 떠나고 늘 새로운 사람, 새로운 장소를 찾아다니는 것이 탐험가의 삶이라며 그것을 즐기면 된다고 합니다. 그리고 좋은 탐험가가 되기 위해서는 미지의 세계에 대한 동경을 가지고 혼자서 시간을 보내도 괜찮거나, 반대로 현지에서 만나는 사람들과 융통성을 발휘하여 가까워질 수 있는 성향의 사람이라면 좋을 듯하다고 말했습니다. 내가 경험하고 탐험한 것을 함께 사람들과 나누고 공유할 수 있는 자세가 탐험가는 하는 일이기 때문입니다. 그래서 저는 생각해 보았습니다. 현재 내가 탐험가와 관련해 해볼 수 있는 일은 무엇이 있을까? 우선 내 주변의 근처에 있는 곳부터 조금씩 반경을 넓혀 다녀보고 기록을 남기는 연습을 하는게 좋을 것 같습니다. 생각해 보니 제가 사는 지역에도 제가 알지 못하는 미지의 공간이 너무나 많이 있습니다. 유명하거나 사람들이 자주 찾지 않는 지역에 대해 탐험하고 그곳에 대한 정보를 기록해 사람들에게 유투브나 블로그 등을 통해 알리면 그것도 탐험가 아닐까 하는 생각을 우선 하게 됩니다. 또는 우리지역의 산에 기존은 등산 탐방로가 아닌 사람들이 잘 다니지 않는 탐방로에 대해 조사해 보는 것도 좋은 경험이 될거 같습니다. 이렇게 여러지역을 탐험하고 탐험의 기록을 남기기 위해 필수적인 사진이나, 글, 영상 등을 다루는 방법을 제대로 숙지해 놓으면 더 좋을 듯 싶어 영상매체 다루는 관련 동영상을 찾아서 보았습니다. 그리고 효과적인 사진찍는법, 사진과 글을 이용한 영상만들기 등을 공부해보고 우리 지역에 내가 탐험해 볼만한 곳에 대한 정보도 뽑아서 리스트를 만들어 놓았습니다. 과연 이런게 직업이 될지 조금 의문도 들었습니다. 하지만 세상에는 우리가 알고 있는 직업이 아닌 새로운 직업도 많고 앞으로 더욱 그런 직업들이 다양해 질거라고 생각합니다. 그래서 더 많은 것을 해보고 더 많은 것에 관심을 가져 더많은 가능성의 세계를 탐험해 보고 싶습니다.'